<div class="layui-side layui-bg-black x-side">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="side">
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;" _href="/admin/article">
                    <i class="layui-icon" style="top: 3px;">&#xe607;</i><cite>文章管理</cite>
                </a>
            </li>
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;" _href="/admin/category">
                    <i class="layui-icon" style="top: 3px;">&#xe630;</i><cite>分类管理</cite>
                </a>
            </li>
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;" _href="/admin/comments">
                    <i class="layui-icon" style="top: 3px;">&#xe606;</i><cite>评论管理</cite>
                </a>
            </li>
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe614;</i><cite>系统设置</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="/admin/tags">
                            <cite>标签管理</cite>
                        </a>
                    </dd>
                    <dd class="">
                        <a href="javascript:;" _href="/admin/about">
                            <cite>个人信息</cite>
                        </a>
                    </dd>
                    <dd class="">
                        <a href="javascript:;" _href="/admin/flinks">
                            <cite>友情链接</cite>
                        </a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>

</div>